.item {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #edefee;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.item-content h3 {
  padding-bottom: 0.8rem;
}

.item-content p {
  color: #495e57;
}

.item-content h5 {
  color: #ee9972;
  padding: 0.4rem 0;
}

.item-content button:hover {
  color: #f4ce14;
}

.item-image img {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
}
