.meal-item {
  width: 55%;
  height: auto;
  margin: 3rem auto;
  border: 1px solid #edefee;
  border-radius: 2rem;
}

.meal-item img {
  width: 100%;
  height: 18.75rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.details {
  padding: 1.5rem 2rem 0rem 2rem;
}

.customize {
  padding: 0 2rem;
}

.details h2 {
  margin-bottom: 0.75rem;
}

.details p {
  color: #495e57;
}
