.meal-image img {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.header h3 {
  color: #f4ce14;
}

.header p {
  color: #ee9972;
}

.description {
  padding: 0 1.25rem 1rem;
  color: #fff;
}

.action {
  padding: 0 1.25rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.action a {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #f4ce14;
}

.action a:hover {
  color: #ccac0f;
}

.action svg {
  font-weight: 600;
  font-size: 1.25rem;
  color: #f4ce14;
}
