.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-size: 2rem;
  color: #495e57;
}

.highlights {
  margin-top: 4rem;
}

@media screen and (max-width: 960px) {
  .title {
    justify-content: center;
    text-align: center;
  }

  .title .action {
    display: none;
  }
}
