.basket {
  min-height: 36vh;
  border-radius: 2rem;
  border: 1px solid #edefee;
  margin-top: 3rem;
  padding: 2rem;
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  margin-left: 1rem;
}
