.basket {
  height: auto;
  min-height: 48vh;
  border-radius: 2rem;
  border: 1px solid #495e57;
  margin-top: 3rem;
  padding: 3rem 1rem;
}

.basket h1 {
  margin-top: 1rem;
  color: #495e57;
  font-size: 2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.total .final-price {
  color: #ee9972;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2.5rem 0;
}

.close {
  margin-right: 1.5rem;
}

.checkout {
  margin-top: 3rem;
  border: 1px solid #495e57;
  border-radius: 2rem;
  padding: 3rem 1rem 0;
}

@media screen and (max-width: 600px) {
  .checkout {
    margin-top: 1.5rem;
  }
  .basket {
    margin-top: 1.5rem;
  }
  .actions {
    justify-content: space-between;
  }
}

@media screen and (max-width: 290px) {
  .actions {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
  }
}
