.header,
.alt-header {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 3333;
}

.alt-header {
  display: none;
}

.nav-items,
.alt-navitems {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
}

.navList li {
  padding: 0 1.25rem;
}

.navList li a {
  color: #495e57;
  font-family: "Markazi Text", serif;
  font-size: 1.8rem;
}

.navList li a:hover,
.navList li a.active {
  color: #f4ce14;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

@media screen and (max-width: 1420px) {
  .nav-items {
    width: 75%;
  }
}

@media screen and (max-width: 1240px) {
  .nav-items {
    width: 80%;
  }
}

@media screen and (max-width: 1140px) {
  .nav-items {
    width: 85%;
  }
}

@media screen and (max-width: 1075px) {
  .nav-items {
    width: 90%;
  }
}

@media screen and (max-width: 1015px) {
  .nav-items {
    width: 95%;
  }
}

@media screen and (max-width: 910px) {
  .header {
    display: none;
  }

  .alt-header {
    display: flex;
  }

  .alt-navitems {
    width: 95%;
  }

  .toggleLinks {
    color: #495e57;
    font-size: 2rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }

}
