.button {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  margin-left: 4rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  position: relative;
}

.icon {
  color: #495e57;
}

.icon:hover,
.icon.active {
  color: #f4ce14;
}

.badge {
  background-color: #fff;
  border-radius: 25px;
  color: #495e57;
  font-size: 1rem;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -32%);
}

.button:hover .badge,
.button.active .badge {
  color: #f4ce14;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
