.nav {
  width: 80%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
}

.navList li {
  padding: 0 2rem;
}

.navList li a {
  color: #495e57;
  font-family: "Markazi Text", serif;
  font-size: 2rem;
}

.navList li a:hover,
.navList li a.active {
  color: #f4ce14;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
