.card {
  background-color: #495e57;
  border-radius: 1.25rem;
  width: 19rem;
  height: auto;
  min-height: 22rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 400px) {
  .card {
    width: 17rem;
  }
}

@media screen and (max-width: 300px) {
  .card {
    width: 15rem;
  }
}