.delivery {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery a {
    border: 1px solid #495e57;
    border-radius: 2rem;
    padding: 0.2rem 0.8rem;
    background-color: #edefee;
    color: #495e57;
}

.delivery a:hover {
    background-color: #fff;
}